---
interface Props {
  name: string;
  href?: string;
}

const { name, href } = Astro.props;
---

{href ? (
  <a 
    href={href}
    class="name-chip name-chip-link no-underline"
  >
    {name}
  </a>
) : (
  <span class="name-chip">
    {name}
  </span>
)}
