---
import StatCard from "./StatCard.astro";

interface Stat {
    label: string;
    value: string;
    footnote?: string;
    variant?: "default" | "restitution" | "small";
}

interface Props {
    stats: Stat[];
    animated?: boolean;
}

const { stats, animated = false } = Astro.props;
console.log(stats);
---

<div class="grid grid-cols-4 gap-stat-grid">
    <StatCard
        label="Total Grants"
        value={stats.totalGrants}
        footnote="footnote"
        variant="default"
        animated={animated}
        animationDelay={animated ? 1 * 150 : 0}
    />
</div>
